<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearnerProfile.apps</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LearnerProfile.app.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid d-flex align-items-center">
                
                <a class="navbar-brand me-4" asp-area="" asp-controller="Home" asp-action="Index">Manila Child Development Center</a>

                <div class="d-flex align-items-center gap-4">
                    <ul class="navbar-nav flex-row gap-4 d-none d-sm-flex me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>

                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#appSidebar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="appSidebar">
                    <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title">Portal Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="">Our Classes</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="">Our Teachers</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="AboutUs">Learn More</a></li>
                            <li class="nav-item border-bottom mb-4"></li>
                            
                            <li class="nav-item mb-2">ACCOUNT</li>
                            <li class="nav-item mb-2">
                                <a class="btn btn-primary w-100" asp-controller="Auth" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="btn btn-primary w-100" asp-controller="Home" asp-action="RegisterLanding">Sign Up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container flex-grow-1 d-flex flex-column" style="margin-bottom: 60px;">
        <main role="main" class="flex-grow-1 d-flex flex-column">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            &copy; 2026 - LearnerProfile.app - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
