@{
    ViewData["Title"] = "Home Page";
}

@* <h1>@ViewData["Title"]</h1> *@

<div>
    <h1>Manila Child Development Center</h1>
    <p>Nurturing young minds through safe, caring, and quality early childhood education.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="AboutUs">Learn More</a>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="">Our Teachers ></a>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="">Our Classes ></a>
    </div>
</div>